@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
}
/* Login */
.outter-container {
  position: relative;
  height: 100vh;
  overflow: hidden;
  background-color: black;
  text-align: center;
  background-image: url(../images/ecommerce-illustration2-3.gif);
  background-size: contain;
  background-position: left;
  background-repeat: no-repeat;
}
.inner {
  position: absolute;
}
.inner-container {
  width: 63vh;
  height: 100vh;
  position: absolute;
  right: 0;
  overflow: hidden;
}
.box {
  position: absolute;
  height: 100%;
  width: 100%;
  font-family: Helvetica;
  color: #fff;
  background: rgba(14, 14, 16, 0.9);
  padding: 20px 0px;
  border-radius: 5px;
}
.box h1 {
  text-align: center;
  margin: 20vh 0 10px;
  font-size: 20px;
}
.box .title {
  text-align: center;
  margin: 30px 0;
  font-size: 40px;
  font-weight: bold;
  color: #ffb703;
}
.box input {
  display: block;
  width: 330px;
  height: 50px;
  margin: 20px auto;
  padding: 15px;
  background: rgba(0, 0, 0, 0.2);
  color: white;
  border: 0;
  border-radius: 5px;
}
.box input:focus,
.box input:active,
.box button:focus,
.box button:active {
  outline: none;
}
.box button {
  background: #ffb703;
  border: 0;
  height: 50px;
  color: #fff;
  padding: 10px;
  font-size: 18px;
  width: 330px;
  margin: 20px auto;
  display: block;
  cursor: pointer;
  border-radius: 5px;
}
.box button:active {
  background: goldenrod;
}
.box p {
  font-size: 14px;
  text-align: center;
}
/* Navbar */
nav {
  display: flex;
  align-items: center;
  color: white;
  justify-content: space-between;
}
.nav-left {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.nav-left img {
  width: 80px;
  margin-right: 10px;
  margin-left: 70px;
  margin-top: 10px;
}
.nav-center {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 17px;
  margin-left: 50px;
}
.nav-center li {
  list-style: none;
}
.nav-center li a {
  position: relative;
  display: inline-block;
  color: #ffb703;
  font-weight: 600;
  margin-left: 50px;
  padding: 10px 0;
  text-decoration: none;
  border-radius: 20px;
}
.nav-center li a::after {
  content: "";
  height: 3px;
  width: 0;
  background: #e76f51;
  position: absolute;
  left: 0;
  bottom: 0;
  transition: 0.5s;
}
.nav-center li a:hover::after {
  width: 100%;
}
.nav-right {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  font-size: 17px;
}
.nav-right li {
  list-style: none;
  margin-right: 20px;
}
.nav-right li a {
  position: relative;
  display: flex;
  color: #ffb703;
  font-weight: 600;
  padding: 10px 0;
  text-decoration: none;
  border-radius: 20px;
  font-size: 15px;
}
.nav-right li a::after {
  content: "";
  height: 3px;
  width: 0;
  background: #e76f51;
  position: absolute;
  left: 0;
  bottom: 0;
  transition: 0.5s;
}
.nav-right li a:hover::after {
  width: 100%;
}
.sub-menu {
  display: none;
  padding: 15px 25px;
}
.nav-right ul li:hover .sub-menu {
  width: 250px;
  display: flex;
  position: absolute;
  margin-left: -5px;
  background-color: rgba(14, 14, 16, 0.9);
  z-index: 9999;
  border-radius: 5px;
}
/* Homepage */
.home-page {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url(../images/OuTVS6.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}
.content {
  text-align: center;
  margin-top: 170px;
}
.container .content h2 {
  font-size: 3em;
  color: #fff;
  font-weight: 700;
}
.container .content span {
  color: #ffb703;
}
.container .content p {
  font-size: 1.2em;
  color: #fff;
  font-weight: 400;
}
.bi {
  margin-right: 5px;
}
.bi:hover {
  color: goldenrod;
  cursor: pointer;
}
.product-title {
  font-size: 1rem;
  height: 40px;
  word-wrap: break-word;
  overflow: hidden;
  display: -webkit-box;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}
